.no-vert-padding, .p-t-only {
  padding-bottom: 0!important
}
.no-vert-padding, .p-b-only {
  padding-top: 0!important
}
.no-side-padding, .p-b-only, .p-t-only {
  padding-right: 0!important;
  padding-left: 0!important
}
h1, h2, h3, h4 {
  text-transform: uppercase
}
.content-row, .grid-block, .grid-block-body, .grid-block-header, .image-column {
  overflow: hidden
}
.no-padding {
  padding: 0!important
}
.no-margin {
  margin: 0!important
}
.push-top, .v-center {
  margin-bottom: auto!important
}
.p-t-1x {
  padding-top: 1vw!important
}
.m-t-1x {
  margin-top: 1vw!important
}
.push-bottom, .v-center {
  margin-top: auto!important
}
@media (min-width: 768px) {
  .m-t-md-up-1x {
    padding-top: 1vw!important
  }
}
.p-t-2x {
  padding-top: 1.5vw!important
}
.p-t-3x {
  padding-top: 2.5vw!important
}
.p-t-5x {
  padding-top: 8vw!important
}
@media (min-width: 768px) {
  .p-t-md-up-2x {
    padding-top: 1.5vw!important
  }
  .v-center-md-up {
    margin-top: auto!important;
    margin-bottom: auto!important
  }
}
.p-b-1x {
  padding-bottom: 1vw!important
}
.p-b-3x {
  padding-bottom: 2.5vw!important
}
.p-b-5x {
  padding-bottom: 8vw!important
}
@media (max-width: 767px) {
  .p-t-sm-down-5x.p-t-adjust {
    padding-top: 6vw!important
  }
  .p-t-sm-down-5x {
    padding-top: 8vw
  }
  .p-b-sm-down-5x {
    padding-bottom: 8vw!important
  }
  .sm-down-height {
    min-height: 100vw;
    height: 100vw
  }
}
.p-l-5x {
  padding-left: 4.5vw!important
}
.p-t-10, .padding-10 {
  padding-top: 10px!important
}
.p-b-10, .padding-10 {
  padding-bottom: 10px!important
}
.p-l-10, .padding-10 {
  padding-left: 10px!important
}
.p-r-10, .padding-10 {
  padding-right: 10px!important
}
.p-t-30, .padding-30 {
  padding-top: 30px!important
}
.p-b-30, .padding-30 {
  padding-bottom: 30px!important
}
.p-l-30, .padding-30 {
  padding-left: 30px!important
}
.p-r-30, .padding-30 {
  padding-right: 30px!important
}
.h-center, .img-center {
  margin-left: auto;
  margin-right: auto
}
.v-align-middle {
  vertical-align: middle!important
}
.m-b-15 {
  margin-bottom: 15px
}
.m-t-45 {
  margin-top: 45px
}
.remarkable {
  padding-left: 5%;
  padding-right: 5%
}
.b-a {
  border-width: 1px;
  border-style: solid
}
.b-grey {
  border-color: #505050!important
}
.bg-orange-translucent {
  background-color: #e3381c;
  opacity: .8
}
.bg-master-darkest {
  background-color: #454242!important
}
.bg-white {
  background-color: #FFF!important
}
.bg-black {
  background-color: #000!important
}
.bg-dark {
  background-color: #454242!important
}
.bg-orange {
  background-color: #e3381c!important
}
@media (max-width: 767px) {
  .grid-block-body .remarkable {
    margin-top: 15px
  }
  .bg-sm-down-orange {
    background-color: #e3381c!important
  }
  .bg-sm-down-black {
    background-color: #000!important
  }
}
.bg-featured-venture {
  background: url(https://crrnt.curvesoftware.com/img/bg_featured_venture.jpg) center center no-repeat;
  background-size: cover!important
}
@media (min-width: 768px) {
  .m-b-md-up-15 {
    margin-bottom: 15px
  }
  .md-m-l-25 {
    margin-left: 25px!important
  }
  .bg-md-up-featured-venture {
    background: url(https://crrnt.curvesoftware.com/img/bg_featured_venture.jpg) center center no-repeat;
    background-size: cover!important
  }
}
@media (max-width: 767px) {
  .bg-md-up-featured-venture .content-column {
    margin: 0;
    padding: 0
  }
  .bg-md-up-featured-venture .content-column .row {
    padding-top: 25px;
    padding-bottom: 25px
  }
  .bg-sm-down-featured-venture {
    background: url(https://crrnt.curvesoftware.com/img/bg_featured_venture.jpg) center center no-repeat;
    background-size: cover!important;
    min-height: 50vw
  }
}
.banner, .img-bg-container {
  padding-top: 5vw;
  padding-bottom: 5vw
}
.banner, .banner-shuttle {
  background-position: center center
}
.footer-banner {
  height: 350px
}
.banner {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat
}
@media (min-width: 768px) {
  .footer-banner {
    height: 475px
  }
  .banner-sm-down {
    background-image: none!important
  }
  .banner-md-up {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
  }
}
@media (max-width: 767px) {
  .banner-sm-down {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
  }
  .banner-md-up {
    background-image: none!important
  }
  .banner-sm-down.darken:before {
    background-color: #000;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0
  }
  .banner-sm-down.darken>* {
    position: relative
  }
}
.banner-contact, .banner-landing {
  background-image: url(https://crrnt.curvesoftware.com/img/crrnt_banner.jpg)
}
.banner-crrnt {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_C.jpg)
}
@media (max-width: 767px) {
  .banner-crrnt {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_C_mobile.jpg)
  }
}
.banner-about {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_about.jpg)
}
.banner-shuttle {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_shuttle.jpg)
}
.banner-borealis, .banner-bulb-burst, .banner-bulbs, .banner-city, .banner-dirtbike, .banner-ferris-wheel, .banner-forest, .banner-lake, .banner-rallycar, .banner-snowboarder, .banner-tug, .banner-waves {
  background-position: center top
}
@media (max-width: 767px) {
  .banner-shuttle {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_shuttle_mobile.jpg)
  }
}
.banner-waves {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_waves.jpg)
}
@media (max-width: 767px) {
  .banner-waves {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_waves_mobile.jpg)
  }
}
.banner-lake {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_lake.jpg)
}
.banner-tug {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_tug.jpg)
}
.banner-borealis {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_borealis.jpg)
}
@media (max-width: 767px) {
  .banner-borealis {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_borealis_mobile.jpg)
  }
}
.banner-bulbs {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_bulbs.jpg)
}
.banner-bulb-burst {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_bulb_burst.jpg)
}
.banner-nsx {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_nsx.jpg);
  background-position: center top
}
.banner-rallycar {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_rallycar.png)
}
.banner-city {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_city.jpg)
}
@media (max-width: 767px) {
  .banner-city {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_city_mobile.jpg)
  }
}
.banner-dirtbike {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_dirtbike.jpg)
}
@media (max-width: 767px) {
  .banner-dirtbike {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_dirtbike_mobile.jpg)
  }
}
.banner-snowboarder {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_snowboarder.jpg)
}
@media (max-width: 767px) {
  .banner-snowboarder {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_snowboarder_mobile.jpg)
  }
}
.banner-ferris-wheel {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_ferris_wheel.jpg)
}
.banner-forest {
  background-image: url(https://crrnt.curvesoftware.com/img/banner_forest.jpg)
}
@media (min-width: 1240px) {
  header.image-banner, header.video-banner {
    height: 45vw;
    min-height: 575px
  }
}
@media (min-width: 544px) and (max-width:1239px) {
  header.image-banner, header.video-banner {
    height: 575px
  }
}
@media (max-width: 767px) {
  .banner-forest {
    background-image: url(https://crrnt.curvesoftware.com/img/banner_forest_mobile.jpg)
  }
  header.video-banner {
    display: none;
    visibility: hidden
  }
}
.vid-bg-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.image-column, .image-column picture {
  -ms-flex-direction: column;
  text-align: center
}
.img-bg-container, .vid-bg-container {
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden
}
.img-bg, .objectfit .vid-bg-container>video, .vid-bg {
  background-size: cover;
  position: absolute;
  left: 0;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%
}
.img-bg-container.compat-object-fit {
  background-size: cover;
  background-position: center center
}
.img-bg-container.compat-object-fit .img-bg {
  opacity: 0
}
.img-bg {
  height: auto;
  width: 100%;
  bottom: 0;
  -webkit-filter: brightness(1);
  filter: brightness(1)
}
.objectfit .vid-bg-container>video, .vid-bg {
  transition: 1s opacity;
  top: 0;
  object-position: center;
  -webkit-filter: brightness(1);
  filter: brightness(1)
}
.vid-bg::-moz-range-thumb, .vid-bg::-moz-range-track, .vid-bg::-webkit-media-controls-enclosure {
  display: none!important
}
.objectfit .vid-bg, .objectfit .vid-bg-container>video {
  height: 100%
}
@font-face {
  font-family: CeraPRO-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Regular.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Regular.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Regular.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Regular.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Regular.svg#CeraPRO-Regular) format("svg")
}
@font-face {
  font-family: CeraPRO-Regular;
  font-style: italic;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-RegularItalic.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-RegularItalic.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-RegularItalic.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-RegularItalic.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-RegularItalic.svg#CeraPRO-Regular) format("svg")
}
@font-face {
  font-family: CeraPRO-Black;
  font-style: normal;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Black.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Black.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Black.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Black.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Black.svg#CeraPRO-Black) format("svg")
}
@font-face {
  font-family: CeraPRO-Black;
  font-style: italic;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BlackItalic.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BlackItalic.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BlackItalic.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BlackItalic.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BlackItalic.svg#CeraPRO-Black) format("svg")
}
@font-face {
  font-family: CeraPRO-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Bold.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Bold.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Bold.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Bold.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Bold.svg#CeraPRO-Bold) format("svg")
}
@font-face {
  font-family: CeraPRO-Bold;
  font-style: italic;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BoldItalic.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BoldItalic.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BoldItalic.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BoldItalic.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-BoldItalic.svg#CeraPRO-Bold) format("svg")
}
@font-face {
  font-family: CeraPRO-Light;
  font-style: normal;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Light.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Light.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Light.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Light.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Light.svg#CeraPRO-Light) format("svg")
}
@font-face {
  font-family: CeraPRO-Light;
  font-style: italic;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-LightItalic.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-LightItalic.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-LightItalic.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-LightItalic.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-LightItalic.svg#CeraPRO-Light) format("svg")
}
@font-face {
  font-family: CeraPRO-Medium;
  font-style: normal;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Medium.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Medium.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Medium.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Medium.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Medium.svg#CeraPRO-Medium) format("svg")
}
@font-face {
  font-family: CeraPRO-Medium;
  font-style: italic;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-MediumItalic.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-MediumItalic.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-MediumItalic.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-MediumItalic.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-MediumItalic.svg#CeraPRO-Medium) format("svg")
}
@font-face {
  font-family: CeraPRO-Thin;
  font-style: normal;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Thin.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Thin.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Thin.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Thin.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-Thin.svg#CeraPRO-Thin) format("svg")
}
@font-face {
  font-family: CeraPRO-Thin;
  font-style: italic;
  font-weight: 400;
  src: url(https://crrnt.curvesoftware.com/fonts/CeraPRO-ThinItalic.eot?) format("embedded-opentype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-ThinItalic.woff2) format("woff2"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-ThinItalic.woff) format("woff"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-ThinItalic.ttf) format("truetype"), url(https://crrnt.curvesoftware.com/fonts/CeraPRO-ThinItalic.svg#CeraPRO-Thin) format("svg")
}
html {
  font-size: 16px
}
body {
  color: #FFF;
  font-family: CeraPRO-Regular, sans-serif;
  font-size: 1rem
}
@media (min-width: 768px) and (max-width:991px) {
  body {
    font-size: .85rem
  }
}
a {
  color: #e3381c
}
strong {
  font-family: CeraPRO-Bold, sans-serif
}
abbr {
  border: none!important;
  text-decoration: none!important
}
.text-white {
  color: #FFF
}
.text-black {
  color: #000!important
}
.text-brand {
  color: #e3381c!important
}
.hint-text {
  color: #505050!important;
  opacity: .7
}
footer, h1, h2, h3 {
  color: #000
}
.font-light {
  font-family: CeraPRO-Light, sans-serif!important
}
.font-black {
  font-family: CeraPRO-Black, sans-serif!important
}
.font-thin {
  font-family: CeraPRO-Thin, sans-serif!important
}
.font-regular {
  font-family: CeraPRO-Regular, sans-serif!important
}
.font-bold {
  font-family: CeraPRO-Bold, sans-serif!important
}
.font-medium {
  font-family: CeraPRO-Medium, sans-serif!important
}
.font-default {
  font-family: CeraPRO-Regular, sans-serif!important
}
.text-underline {
  text-decoration: underline!important
}
h1, h2, h3 {
  font-family: CeraPRO-Black, sans-serif;
  line-height: 1
}
h1.big {
  font-size: 3.6rem
}
h1.bigger {
  font-size: 4.3rem
}
h4 {
  font-family: CeraPRO-Bold, sans-serif;
  color: #e3381c;
  font-size: 1.25rem!important
}
@media (max-width: 767px) {
  h1 {
    font-size: 8.25vw
  }
  h1.big {
    font-size: 9.25vw!important
  }
  h1.bigger {
    font-size: 10vw!important
  }
  h2 {
    font-size: 6.5vw
  }
  h3 {
    font-size: 5.5vw
  }
}
@media (min-width: 768px) and (max-width:991px) {
  h1 {
    font-size: 2.125rem
  }
  h2 {
    font-size: 1.7rem
  }
  h3 {
    font-size: 1.4875rem
  }
  h4 {
    font-size: 1.0625rem
  }
  h5 {
    font-size: .9775rem
  }
}
.condensed {
  line-height: .8!important
}
.text-note {
  font-style: italic;
  font-size: .875rem
}
.btn, .slug {
  font-style: normal
}
.grid-block h1, .grid-block h2, .grid-block h3 {
  font-family: CeraPRO-Black, sans-serif
}
.grid-block h4 {
  font-size: 16px
}
.grid-block .grid-block-header h1, .grid-block .grid-block-header h2, .grid-block .grid-block-header h3 {
  font-family: CeraPRO-Bold, sans-serif
}
.banner p {
  font-family: CeraPRO-Light, sans-serif
}
.copy-slug, .slug {
  font-family: CeraPRO-Bold, sans-serif;
  text-transform: uppercase
}
sup {
  margin-left: -.6rem
}
.slug {
  font-size: .75rem
}
.copy-slug {
  color: #818a91;
  font-size: .875rem
}
.btn {
  text-transform: uppercase;
  font-family: CeraPRO-Medium, sans-serif
}
.tb-text {
  font-family: CeraPRO-Bold, sans-serif;
  font-style: italic;
  line-height: .9!important;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px
}
@media (max-width: 375px) {
  .tb-text {
    font-size: 34px
  }
}
.bold {
  font-weight: 700!important
}
.remarkable {
  font-family: CeraPRO-Light, sans-serif;
  font-style: italic
}
@media (max-width: 767px) {
  .remarkable {
    font-size: 6vw
  }
}
@media (min-width: 768px) and (max-width:991px) {
  .remarkable {
    font-size: 2vw
  }
}
@media (min-width: 992px) {
  .remarkable {
    font-size: 2.1vw
  }
}
.content-row.light, .row.light {
  color: #505050
}
.content-row.light h1, .content-row.light h2, .content-row.light h3, .content-row.light h5, .content-row.light h6, .row.light h1, .row.light h2, .row.light h3, .row.light h5, .row.light h6 {
  color: #000!important
}
.banner, .bg-black, .bg-featured-venture, .bg-orange, .bg-sm-down-black, .bg-sm-down-orange, .content-overlay-container, .content-row.dark, .content-row.featured, .row.dark {
  color: #fff
}
.banner h1, .banner h2, .banner h3, .banner h5, .banner h6, .bg-black h1, .bg-black h2, .bg-black h3, .bg-black h5, .bg-black h6, .bg-featured-venture h1, .bg-featured-venture h2, .bg-featured-venture h3, .bg-featured-venture h5, .bg-featured-venture h6, .bg-orange h1, .bg-orange h2, .bg-orange h3, .bg-orange h5, .bg-orange h6, .bg-sm-down-black h1, .bg-sm-down-black h2, .bg-sm-down-black h3, .bg-sm-down-black h5, .bg-sm-down-black h6, .bg-sm-down-orange h1, .bg-sm-down-orange h2, .bg-sm-down-orange h3, .bg-sm-down-orange h5, .bg-sm-down-orange h6, .content-overlay-container h1, .content-overlay-container h2, .content-overlay-container h3, .content-overlay-container h5, .content-overlay-container h6, .content-row.dark h1, .content-row.dark h2, .content-row.dark h3, .content-row.dark h5, .content-row.dark h6, .content-row.featured h1, .content-row.featured h2, .content-row.featured h3, .content-row.featured h5, .content-row.featured h6, .row.dark h1, .row.dark h2, .row.dark h3, .row.dark h5, .row.dark h6 {
  color: #fff!important
}
.content-row.featured h1, .content-row.featured h2, .content-row.featured h3 {
  font-family: CeraPRO-Black, sans-serif
}
@media (max-width: 767px) {
  .content-overlay-container h1, .content-overlay-container h1.big, .content-overlay-container h1.bigger {
    font-size: 7.25vw
  }
}
@media (min-width: 768px) and (max-width:991px) {
  .content-overlay-container h1, .content-overlay-container h1.big, .content-overlay-container h1.bigger {
    font-size: 5vw!important
  }
}
@media (min-width: 992px) {
  .content-overlay-container h1, .content-overlay-container h1.big, .content-overlay-container h1.bigger {
    font-size: 4.5vw!important
  }
}
.svc-label {
  color: #FFF;
  font-family: CeraPRO-Bold, sans-serif;
  font-size: 1rem;
  font-style: normal;
  text-transform: uppercase
}
@media (max-width: 375px) {
  .svc-label {
    font-size: .7rem
  }
}
.navbar-dark, .navbar-toggler {
  color: #fff;
  line-height: .8!important
}
.navbar-dark .nav-item, .navbar-dark .nav-link, .navbar-toggler .nav-item, .navbar-toggler .nav-link {
  font-family: CeraPRO-Light, sans-serif;
  color: #fff!important;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .175rem
}
@media (max-width: 543px) {
  .navbar-dark .nav-item, .navbar-dark .nav-link, .navbar-toggler .nav-item, .navbar-toggler .nav-link {
    font-family: CeraPRO-Bold, sans-serif;
    font-size: 1.75rem;
    line-height: 1.2
  }
}
.navbar-dark .nav-link.active, .navbar-dark .nav-link:focus, .navbar-dark .nav-link:hover, .navbar-toggler .nav-link.active, .navbar-toggler .nav-link:focus, .navbar-toggler .nav-link:hover {
  color: #e3381c!important
}
.bg-gray-lighter {
  background: #d2d3d5
}
@media (min-width: 768px) {
  .grid-block-header h1 {
    font-size: 3vw
  }
}
.grid-block-header p {
  font-size: 1.25rem;
  color: #d2d3d5!important
}
@media (min-width: 768px) and (max-width:991px) {
  .grid-block-header p {
    font-size: 1rem
  }
}
@media (max-width: 325px) {
  .col-services-list ul {
    font-size: .65rem
  }
}
@media (min-width: 326px) and (max-width:543px) {
  .col-services-list ul {
    font-size: .85rem
  }
}
.row.grid-center-overflow {
  margin-top: -30px;
  margin-bottom: 0;
  height: 30px
}
.content-row.light, .row.light {
  background-color: #FFF
}
.content-row.dark, .row.dark {
  background-color: #000
}
.content-row, .image-column {
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-top: 0;
  padding-bottom: 0
}
.content-row {
  min-height: 40vw
}
@media (min-width: 768px) {
  .content-row, .image-column {
    min-height: 525px
  }
}
.image-column.compat-object-fit {
  background-size: cover;
  background-position: center center
}
.image-column.compat-object-fit .requires-objectfit, .image-column.compat-object-fit img.cover {
  display: none;
  visibility: hidden
}
@media (max-width: 767px) {
  .image-column {
    height: 100vw!important;
    min-height: 100vw;
    max-height: 100vw
  }
  .content-row.fixed-height .image-column, .image-column.fixed-height {
    height: 100vw;
    min-height: 100vw
  }
}
@media (min-width: 768px) {
  .content-row.fixed-height .image-column, .image-column.fixed-height {
    height: 40vw
  }
  img.cover {
    max-height: 100%;
    min-width: 100%;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center'
  }
}
.image-column {
  padding: 0!important;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.image-column picture {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start
}
img.cover {
  object-fit: cover!important
}
@media (max-width: 767px) {
  .image-column picture {
    height: 100vw;
    min-height: 100vw
  }
  img.cover {
    height: 100vw;
    min-height: 100vw;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center'
  }
}
img.cover.top {
  object-position: top!important
}
.content-column {
  margin-top: 4vw;
  margin-bottom: 4vw;
  padding: 0 4vw
}
.content-column .content-row-title {
  padding-bottom: 25px
}
.content-column h1 {
  margin-bottom: 15px
}
@media (max-width: 767px) {
  .content-column {
    margin-top: 25px;
    margin-bottom: 25px
  }
  .content-column p {
    margin-left: 7vw;
    margin-right: 7vw
  }
}
.content-row.featured {
  height: 100%
}
.featured .content-column h1 {
  margin-bottom: 25px
}
.featured .content-column div.row p {
  margin-left: 7vw;
  margin-right: 7vw
}
@media (min-width: 768px) {
  .scrollable p {
    margin: 10px 0!important;
    padding: 3px 10px!important
  }
  .md-condensed div[class^=col] {
    padding-left: 5px;
    padding-right: 5px
  }
}
.content-overlay-container .row .btn-in-touch, .content-overlay-container .row h1, .venture-box {
  margin-left: auto;
  margin-right: auto
}
.venture-box-container {
  margin-top: 40px
}
@media (max-width: 543px) {
  .venture-box-container {
    min-height: 240px;
    position: relative;
    display: block;
    height: 50vw
  }
  .venture-box {
    max-width: 60vw
  }
}
@media (min-width: 543px) and (max-width:767px) {
  .venture-box-container {
    min-height: 270px;
    position: relative;
    display: block;
    height: 46vw
  }
  .venture-box {
    max-width: 50vw
  }
}
.venture-box {
  border: 8px solid #FFF;
  height: 100%;
  width: 100%;
  font-family: CeraPRO-Medium, sans-serif
}
.venture-box h1 {
  font-family: CeraPRO-Bold, sans-serif
}
.venture-box h2 {
  font-family: inherit
}
@media (min-width: 768px) {
  .venture-box h1 {
    font-size: 1.8rem
  }
  .venture-box h2 {
    font-size: 1.45vw
  }
}
.venture-box-header {
  padding-top: 2vw;
  padding-bottom: .5vw
}
@media (max-width: 767px) {
  .venture-box {
    height: 45vw
  }
  .venture-box h2 {
    font-size: 5vw
  }
  .venture-box-header {
    padding-top: 5vw;
    padding-bottom: 1vw
  }
}
.venture-box-body {
  padding-bottom: 4vw
}
@media (min-width: 768px) {
  .venture-box-body {
    height: 100px
  }
}
.venture-box-selector {
  text-decoration: none;
  border-radius: 100%;
  color: #FFF;
  height: 36px;
  line-height: 32px;
  width: 36px;
  font-size: 20px;
  display: inline-block;
  font-family: CeraPRO-Bold, sans-serif
}
.venture-box-selector.active {
  border: 2px solid #FFF
}
.venture-box-selector:active, .venture-box-selector:focus, .venture-box-selector:hover {
  text-decoration: none;
  color: #FFF!important;
  border: 2px solid #d2d3d5;
  background-color: rgba(0, 0, 0, .08)
}
.grid-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width: 767px) {
  .venture-box-body {
    padding-top: 2vw;
    padding-bottom: 10vw
  }
  .grid-block p {
    padding: 0 5%
  }
  .grid-block .grid-block-header.v-center-md-up {
    padding-top: 40px;
    padding-bottom: 40px
  }
  .grid-block.ar-sm-1-1 .grid-block-header {
    margin-top: auto;
    margin-bottom: auto
  }
}
.grid-block-header h1, .grid-block-header h2, .grid-block-header h3 {
  padding-top: 4vw
}
@media (min-width: 768px) and (max-width:991px) {
  .grid-block-header h1, .grid-block-header h2, .grid-block-header h3 {
    padding-top: 2vw
  }
}
.grid-block-header p {
  padding-left: 5%;
  padding-right: 5%
}
.grid-block-body {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center
}
.grid-block-body>:first-child {
  margin-top: 5vh
}
.grid-block .grid-block-body, .grid-block .grid-block-body p, .grid-block .grid-block-header, .grid-block .grid-block-header p {
  width: 100%
}
.grid-image {
  width: 100%;
  background: 50% 50% no-repeat;
  background-size: cover
}
@media (max-width: 767px) {
  .grid-block p.remarkable {
    margin-top: auto!important
  }
  .grid-image {
    min-height: 50vw;
    height: 50vw
  }
  .ar-sm-down-1-1 {
    height: 100vw!important
  }
  .grid-block.ar-2-1 {
    height: 200vw;
    min-height: 200vw;
    max-height: 200vw
  }
}
@media (min-width: 768px) {
  .grid-block.ar-md-2-1 .grid-block-body, .grid-block.ar-md-2-1 .grid-block-header {
    height: 33.333333vw;
    min-height: 33.333333vw;
    max-height: 33.333333vw
  }
}
@media (min-width: 350px) and (max-width:767px) {
  .col-xs-12.ar-sm-1-1, .grid-block.ar-sm-1-1 {
    height: 100vw;
    min-height: 100vw;
    max-height: 100vw
  }
}
.grid-block.col-lg-4.ar-2-1 .grid-block-body, .grid-block.col-lg-4.ar-2-1 .grid-block-header, .grid-block.col-md-4.ar-2-1 .grid-block-body, .grid-block.col-md-4.ar-2-1 .grid-block-header, .grid-block.col-sm-4.ar-2-1 .grid-block-body, .grid-block.col-sm-4.ar-2-1 .grid-block-header, .grid-block.col-xs-4.ar-2-1 .grid-block-body, .grid-block.col-xs-4.ar-2-1 .grid-block-header {
  height: 33.333333vw;
  min-height: 33.333333vw;
  max-height: 33.333333vw
}
@media (max-width: 767px) {
  .grid-block.col-lg-4.ar-2-1 .grid-block-body, .grid-block.col-lg-4.ar-2-1 .grid-block-header, .grid-block.col-md-4.ar-2-1 .grid-block-body, .grid-block.col-md-4.ar-2-1 .grid-block-header, .grid-block.col-sm-4.ar-2-1 .grid-block-body, .grid-block.col-sm-4.ar-2-1 .grid-block-header, .grid-block.col-xs-4.ar-2-1 .grid-block-body, .grid-block.col-xs-4.ar-2-1 .grid-block-header {
    height: 100vw;
    min-height: 100vw;
    max-height: 100vw
  }
  .grid-block.col-lg-4.ar-1-1 .grid-block-body, .grid-block.col-lg-4.ar-1-1 .grid-block-header, .grid-block.col-md-4.ar-1-1 .grid-block-body, .grid-block.col-md-4.ar-1-1 .grid-block-header, .grid-block.col-sm-4.ar-1-1 .grid-block-body, .grid-block.col-sm-4.ar-1-1 .grid-block-header, .grid-block.col-xs-4.ar-1-1 .grid-block-body, .grid-block.col-xs-4.ar-1-1 .grid-block-header {
    height: 85vw;
    min-height: 85vw;
    max-height: 85vw
  }
}
@media (min-width: 768px) {
  .grid-block.col-lg-4.ar-1-1 .grid-block-body, .grid-block.col-lg-4.ar-1-1 .grid-block-header, .grid-block.col-md-4.ar-1-1 .grid-block-body, .grid-block.col-md-4.ar-1-1 .grid-block-header, .grid-block.col-sm-4.ar-1-1 .grid-block-body, .grid-block.col-sm-4.ar-1-1 .grid-block-header, .grid-block.col-xs-4.ar-1-1 .grid-block-body, .grid-block.col-xs-4.ar-1-1 .grid-block-header {
    height: 33.333333vw;
    min-height: 33.333333vw;
    max-height: 33.333333vw
  }
}
@media (max-width: 543px) {
  .grid-block.col-lg-4.ar-xs-1-1 .grid-block-body, .grid-block.col-lg-4.ar-xs-1-1 .grid-block-header, .grid-block.col-md-4.ar-xs-1-1 .grid-block-body, .grid-block.col-md-4.ar-xs-1-1 .grid-block-header, .grid-block.col-sm-4.ar-xs-1-1 .grid-block-body, .grid-block.col-sm-4.ar-xs-1-1 .grid-block-header {
    height: 85vw;
    min-height: 85vw;
    max-height: 85vw
  }
}
@media (max-width: 767px) {
  .sm-down-ar-reset .grid-block-body, .sm-down-ar-reset .grid-block-header {
    height: 100%!important;
    min-height: 1px!important;
    max-height: 100%!important
  }
}
.flex, .flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end
}
.flex-container {
  height: 100%;
  width: 100%
}
.flex-row {
  -ms-flex-direction: row!important;
  flex-direction: row!important
}
.flex-container.v-center, .flex.v-center, .v-center.flex-container {
  -ms-flex-pack: center;
  justify-content: center
}
.m-tb-auto {
  margin-top: auto;
  margin-bottom: auto
}
.flex-xs-center {
  -ms-flex-align: center!important;
  align-items: center!important
}
@media (max-width: 767px) {
  .flex-sm-down-center {
    -ms-flex-align: center!important;
    align-items: center!important
  }
  .content-overlay-container {
    max-width: 80%
  }
}
@media (min-width: 768px) {
  .flex-md-left {
    -ms-flex-align: start!important;
    align-items: flex-start!important
  }
}
.height-inherit {
  height: inherit!important
}
.team-social-row {
  text-align: center;
  width: 100%;
  margin-top: 20px
}
.content-overlay-container {
  padding: 3vw 1vw;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto
}
.hidden, .no-objectfit .requires-objectfit, .objectfit .has-no-objectfit {
  display: none
}
@media (min-width: 992px) {
  .content-overlay-container {
    max-width: 65vw
  }
}
.content-overlay-container .row {
  padding: 1vw 0 0;
  width: 100%
}
.content-overlay-container .row h1 {
  width: 100%;
  padding-bottom: 2vw
}
.vid-bg-container .content-overlay-container {
  margin-top: auto;
  margin-bottom: auto
}
@media (min-width: 326px) {
  .col-services-list {
    min-height: 365px!important
  }
}
@media (max-width: 325px) {
  .col-services-list {
    min-height: 225px!important
  }
}
body {
  background-color: #000;
  overflow-x: hidden
}
footer {
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: #FFF
}
p {
  max-width: 100%
}
.container-fluid.padded, .container.padded {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  overflow-x: hidden
}
@media (max-width: 767px) {
  .container-fluid.padded, .container.padded {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto
  }
  .container-fluid.padded .row, .container.padded .row {
    margin-left: 0;
    margin-right: 0
  }
}
img.img-cover, img.img-cover-fluid {
  padding: 0;
  margin: 0
}
.full-height {
  height: 100%!important
}
.full-width {
  width: 100%!important
}
@media (max-width: 767px) {
  img.img-cover {
    height: auto;
    width: 100%;
    max-width: 100%
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
    visibility: hidden
  }
  img.img-cover {
    max-height: 100%;
    height: 100%;
    width: auto
  }
  img.img-cover-fluid {
    height: auto;
    width: 100%
  }
}
.divider {
  border: 3px solid #e3381c;
  width: calc(100% / 3);
  margin: 3vmin calc(100% / 3)
}
@media (min-width: 767px) and (max-width:991px) {
  .divider {
    margin: 1.5vmin calc(100% / 3)
  }
}
.divider.white {
  border-color: #FFF
}
.divider.narrow {
  width: 30%;
  margin: 3vmin 35%
}
.crrnt-bolt {
  background: url(https://crrnt.curvesoftware.com/img/flash-icon.png) center center no-repeat;
  background-size: contain;
  height: 71px;
  width: 40px;
  min-height: 71px;
  min-width: 40px;
  margin-top: auto;
  margin-bottom: 4vw
}
@media (max-width: 543px) {
  .crrnt-bolt {
    min-height: 36px!important;
    min-width: 20px!important
  }
}
@media (min-width: 768px) and (max-width:991px) {
  .crrnt-bolt {
    height: 36px!important;
    width: 20px!important;
    min-height: 36px!important;
    min-width: 20px!important
  }
}
@media (min-width: 992px) and (max-width:1199px) {
  .crrnt-bolt {
    height: 57px!important;
    width: 32px!important;
    min-height: 57px!important;
    min-width: 32px!important
  }
}
.tb-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center
}
.tb-box {
  border: 26px solid #fff;
  position: relative;
  background: rgba(0, 0, 0, .4);
  margin: 40px auto;
  width: 350px;
  height: 375px
}
@media (max-width: 375px) {
  .tb-box {
    width: 87vw;
    height: 93vw;
    border: 6vw solid #fff
  }
}
.tb-text {
  width: 100%;
  padding-top: 5%;
  padding-left: 7.5%;
  padding-right: 7.5%
}
.tb-logo {
  position: absolute;
  bottom: 5%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}
.btn {
  border-radius: 0;
  padding: .75rem 1.5rem
}
.btn-in-touch, .btn-learn-more {
  color: #FFF
}
.btn-in-touch, .btn-in-touch:focus, .btn-in-touch:hover, .btn-learn-more, .btn-learn-more:focus, .btn-learn-more:hover {
  background-color: #e3381c;
  border-color: #ad2b15
}
.btn-in-touch:focus, .btn-in-touch:hover, .btn-learn-more:focus, .btn-learn-more:hover {
  color: #454242
}
@media (max-width: 767px) {
  .btn-learn-more {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 60px!important;
    padding-top: 25px;
    padding-bottom: 25px
  }
}
.social-circle, .social-circle:visited {
  background: linear-gradient(to left bottom, #d2d3d5, #FFF) #818a91;
  border-radius: 100%;
  height: 40px;
  line-height: 42px;
  width: 40px;
  display: inline-block;
  color: #454242;
  font-size: 20px;
  font-weight: 700;
  text-align: center!important
}
.social-circle:focus, .social-circle:hover {
  color: #e3381c;
  background: linear-gradient(to left bottom, #818a91, #FFF) #454242
}
.list-overlay {
  min-width: 22vw;
  text-align: center;
  color: #FFF;
  width: 80%;
  display: -ms-inline-flexbox;
  display: inline-flex
}
@media (min-width: 380px) and (max-width:767px) {
  .list-overlay {
    height: 65%
  }
}
.list-overlay ul {
  list-style: none;
  text-transform: uppercase;
  line-height: 3;
  padding: 2vw;
  margin: auto
}
.list-overlay ul li {
  opacity: 1
}
.svc-block, .svc-block:focus, .svc-block:hover, .svc-block:visited {
  text-decoration: none
}
.svc-block:focus .svc-img, .svc-block:focus .svc-label, .svc-block:hover .svc-img, .svc-block:hover .svc-label {
  -webkit-filter: brightness(.6);
  filter: brightness(.6)
}
.svc-label {
  margin-top: 15px
}
.svc-img {
  margin-bottom: 1.5vh
}
.mCSB_dragger .mCSB_dragger_bar {
  background-color: #e3381c!important;
  color: #e3381c!important
}
.mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #cc3219!important;
  color: #cc3219!important
}
.mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #b62d16!important;
  color: #b62d16!important
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 100%;
  height: 10px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 10px;
  border: 2px solid #e7e7e8
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  border: 2px solid #d2d3d5
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonDown, .mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
  background: 0 0!important
}
.mCSB_scrollTools a+.mCSB_draggerContainer {
  margin: 0!important
}
.mCSB_dragger {
  height: 16px!important
}
.mCSB_draggerRail {
  background-color: #e7e7e8!important
}
@media (min-width: 544px) {
  .visible-xs {
    display: none!important
  }
}
@media (max-width: 767px) {
  .visible-md {
    display: none!important
  }
}
@media (min-width: 992px) {
  .list-overlay {
    max-width: 30vw
  }
  .visible-md {
    display: none!important
  }
}
@media (max-width: 991px) {
  .visible-lg {
    display: none!important
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: none!important
  }
}
@media (max-width: 1199px) {
  .visible-xl {
    display: none!important
  }
}
.navbar {
  padding: 20px
}
@media (max-width: 543px) {
  .visible-sm {
    display: none!important
  }
  .navbar-toggler:focus {
    outline-offset: -5px;
    outline: #818a91 auto 2px
  }
  #navMenu {
    background-color: #000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px
  }
  #navMenu .nav-item {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px
  }
  #navMenu li:last-child {
    border-bottom: 0
  }
}
#contact-modal .modal-content {
  background-color: #717171;
  border-radius: 0
}
@media (min-width: 768px) {
  .visible-sm {
    display: none!important
  }
  #contact-modal .modal-content {
    padding: 15px 20px
  }
}
#contact-modal .modal-title {
  color: #FFF
}
#contact-modal .modal-header {
  border-bottom: 0
}
#contact-modal .modal-header .close {
  margin-top: 0;
  opacity: 1
}
.form.crrnt input[type=text], .form.crrnt input[type=email], .form.crrnt select, .form.crrnt textarea {
  color: #FFF;
  background-color: #717171;
  border: 2px solid #FFF;
  border-radius: 0;
  margin: 1px 0;
  padding: 10px
}
.form.crrnt .btn:active, .form.crrnt .btn:focus, .form.crrnt select:active, .form.crrnt select:focus {
  outline: 0
}
.js-only {
  display: none!important;
  visibility: hidden!important
}
.video-banner+noscript header.banner {
  margin-top: -55vw
}
@media (max-width: 885px) {
  .video-banner+noscript header.banner {
    margin-top: -500px
  }
}
.no-objectfit video {
  object-fit: cover;
  font-family: 'object-fit: cover;'
}